:root {
    --main-bg-color: #00313D;
    --accent-color: #00A396;
    --text-color: #FFF;
    --button-bg-color: #00A396;
    --button-text-color: #fff;
    --button-border-radius: 30px;
    --button-padding: 10px 20px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-image: url('imagem/background-sicoob.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--main-bg-color);
}

.background-start-page {
    background-image: url('imagem/background-inicio.png');
    /* Outros estilos para a página inicial */
}

.background-quiz-page {
    background-image: url('imagem/background-sicoob.png');
    /* Outros estilos para a página do quiz */
}

#start-page {
    max-width: 800px;
    text-align: center;
    padding: 20px;
    margin-top: 200px;
}

/* Estilos para o texto específico */
#start-page h1 {
    font-size: 40px; /* Tamanho da fonte desejado */
    color: #ffffff; /* Cor branca */
}

/* Estilos para o texto específico */
#start-page p {
    font-size: 30px; /* Tamanho da fonte desejado */
    color: #ffffff; /* Cor branca */
}

#progress-bar-container {
    width: 0%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--accent-color);
    transition: width 0.5s ease;
}

.quiz-container {
    /*max-width: 800px;*/
    /*width: 40%;*/
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    background-color: var(--main-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--accent-color);
    border-radius: 8px;;
    position: relative;
}

.quiz-container #question-container {
    /*background-color: #127377; /* Substitua pela cor desejada */
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    width: 420px;
}

h1 {
    font-size: 24px;
}

#question {
    font-size: 20px;
    margin: 10px 0;
}

#question-container {
    position: relative;
}

#quiz-image {
    width: 200px;
    height: auto;
}

#timer-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

#imagem-relogio {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#timer {
    font-size: 18px;
}

#tempo-esgotado {
    font-size: 24px;
    color: red;
    transform: scale(0);
    transition: transform 0.3s;
}

#tempo-esgotado.visible {
    transform: scale(1);
}

.invisible {
    display: none;
}

.option {
    display: block;
    width: 400px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.option:disabled {
    background-color: #ccc;
    opacity: 0.6;
    cursor: not-allowed;
}

#result {
    font-weight: bold;
    margin: 10px 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#result.animate {
    animation: fade-in 1s ease forwards;
    font-size: 30px;
    font-family: "Arial", sans-serif;
}

#next-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    margin: 10px 0;
    width: 300px;
}

#start-quiz-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    margin: 10px 0;
    width: 20rem;
    font-size: 2rem;
}

#restart-button {
    background-color: black;
    color: #fff;
    border: none;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    margin: 10px 0;
    width: 300px;
}

/* Estilo para mensagem de resposta correta */
.resposta-correta {
    background-color: #5cb85c;
}

/* Estilo para mensagem de resposta incorreta */
.resposta-incorreta {
    background-color: #d9534f;
}

/* Extra Large Devices: Screen width > 1200px */
@media (min-width: 1080px) {
    body {
        background-size: cover; /* Adjust background size */
    }

    .quiz-container {
        width: 40%; /* Adjust quiz container width */
    }

    #start-page {
        margin-top: 100px; /* Adjust margin-top for start page */
    }

    #start-page h1 {
        font-size: 48px; /* Increase font size for h1 */
    }

    #start-page p {
        font-size: 36px; /* Increase font size for p */
    }

    /* Add other styles for extra-large devices as needed */
}


/* Medium Devices: Screen width > 768px */
@media (max-width: 576px) {
    body {
        background-size: cover; /* Adjust background size */
    }

    .quiz-container {
        width: 80%; /* Adjust quiz container width */
        height: auto;
    }

    #quiz-image {
        margin-top: 100px;
        width: 400px;
        height: auto;
    }

    #question {
        font-size: 40px;
        margin: 10px 0;
    }

    .quiz-container #question-container {
        /*background-color: #127377; /* Substitua pela cor desejada */
        color: var(--text-color);
        padding: 10px;
        border-radius: 10px;
        width: 80%;
    }

    .option {
        width: 700px;
        margin: 30px;
        font-size: 30px;
    }

    #next-button {
        margin: 10px 0;
        width: 600px;
        font-size: 30px;
    }

    #restart-button {
        margin: 10px 0;
        width: 600px;
        font-size: 30px;
    }

    #timer-container {
        position: absolute;
        top: 110px;
        right: -30px;
        display: flex;
        align-items: center;
    }

    #imagem-relogio {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

    #timer {
        font-size: 30px;
    }

    #start-page {
        margin-top: 150px; /* Adjust margin-top for start page */
    }

    #start-page h1 {
        font-size: 36px; /* Increase font size for h1 */
    }

    #start-page p {
        font-size: 32px; /* Increase font size for p */
    }

    /* Add other styles for medium devices as needed */
}