body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-image: url('imagem/background sicoob.jpg');
    background-size: cover; /* Isso fará com que a imagem cubra todo o elemento */
    background-position: center; /* Isso centralizará a imagem no elemento */
    background-repeat: no-repeat; /* Isso impedirá que a imagem seja repetida */
}

.quiz-container {
    max-width: 400px;
    padding: 0px 20px 20px 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-container #question-container {
    background-color: #127377; /* Substitua pela cor desejada */
    color: #FFF; /* Cor do texto para garantir a legibilidade */
    padding: 10px; /* Ajuste o padding conforme necessário */
    border-radius: 10px; /* Estilize a borda conforme necessário */
    width: 420px; /* Ajuste a largura conforme necessário */
}

h1 {
    font-size: 24px;
}

#question-container {
    position: relative;
}

#timer-container {
    position: absolute;
    top: 10px; /* Distância do topo */
    right: 10px; /* Distância da direita */
    display: flex;
    align-items: center;
}

#imagem-relogio {
    width: 20px; /* Largura desejada para o relógio */
    height: 20px; /* Altura desejada para o relógio */
    margin-right: 10px; /* Margem à direita para ajustar a posição do relógio */
}

#timer {
    font-size: 18px; /* Tamanho da fonte desejado para o cronômetro */
}

#tempo-esgotado {
    font-size: 24px;
    color: red;
    transform: scale(0); /* Inicia com escala 0 (invisível) */
    transition: transform 0.3s; /* Adiciona uma transição suave */
}

#tempo-esgotado.visible {
    transform: scale(1); /* Quando a classe "visible" é adicionada, faz o zoom para 100% */
}

.option {
    display: block;
    width: 400px;
    padding: 10px;
    margin: 10px;
    background-color: #fff; /* Cor de fundo branca */
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
} 

.option:disabled {
    background-color: #ccc; /* Cor de fundo cinza para indicar desativado */
    opacity: 0.6; /* Diminui a opacidade */
    cursor: not-allowed; /* Altera o cursor para indicar que não pode ser clicado */
}

#result {
    font-weight: bold;
    margin: 10px 0;
}

#next-button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px 0; /* Adicionando margem superior e inferior para centralizar o botão verticalmente */
    width: 300px;
}

#restart-button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px 0; /* Adicionando margem superior e inferior para centralizar o botão verticalmente */
    width: 300px;
}

/* Estilo para mensagem de resposta correta */
.resposta-correta {
    background-color: #5cb85c; /* Cor verde */
}

/* Estilo para mensagem de resposta incorreta */
.resposta-incorreta {
    background-color: #d9534f; /* Cor vermelha */
}