body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-image: url('imagem/background-sicoob.png');
    background-size: cover; /* Isso fará com que a imagem cubra todo o elemento */
    background-position: center; /* Isso centralizará a imagem no elemento */
    background-repeat: no-repeat; /* Isso impedirá que a imagem seja repetida */
}

.background-start-page {
    background-image: url('imagem/background-inicio.png');
    /* Outros estilos para a página inicial */
}

.background-quiz-page {
    background-image: url('imagem/background-sicoob.png');
    /* Outros estilos para a página do quiz */
}

  
#start-page {
    text-align: center;
    padding: 20px;
    margin-top: 500px;
}

#progress-bar-container {
    width: 0%; /* Largura total */
    height: 6px; /* Altura da barra de progresso */
    position: absolute; /* Posição absoluta em relação ao quiz-container */
    top: 0; /* Alinhado ao topo do quiz-container */
    left: 0; /* Alinhado à esquerda do quiz-container */
    background-color: #00A396; /* Cor de preenchimento da barra de progresso */
    transition: width 0.5s ease; /* Adiciona uma transição suave de 0.5 segundos na largura */
}
  
/* Estilos para telas maiores, como computadores desktop */
.quiz-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    background-color: #00313D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    align-items: center;
    border: 2px solid #00A396; /* Cor da borda da barra de progresso */
    border-radius: 8px; /* Borda arredondada */
    position: relative; /* Para posicionar o conteúdo corretamente */
}

.quiz-container #question-container {
    /*background-color: #127377; /* Substitua pela cor desejada */
    color: #FFF; /* Cor do texto para garantir a legibilidade */
    padding: 10px; /* Ajuste o padding conforme necessário */
    border-radius: 10px; /* Estilize a borda conforme necessário */
    width: 420px; /* Ajuste a largura conforme necessário */
}


h1 {
    font-size: 24px;
}

#question {
    font-size: 20px;
    margin: 10px 0;
}

#question-container {
    position: relative;
}

#quiz-image {
    width: 200px; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção original */
}

#timer-container {
    position: absolute;
    top: 10px; /* Distância do topo */
    right: 10px; /* Distância da direita */
    display: flex;
    align-items: center;
}

#imagem-relogio {
    width: 20px; /* Largura desejada para o relógio */
    height: 20px; /* Altura desejada para o relógio */
    margin-right: 10px; /* Margem à direita para ajustar a posição do relógio */
}

#timer {
    font-size: 18px; /* Tamanho da fonte desejado para o cronômetro */
}

#tempo-esgotado {
    font-size: 24px;
    color: red;
    transform: scale(0); /* Inicia com escala 0 (invisível) */
    transition: transform 0.3s; /* Adiciona uma transição suave */
}

#tempo-esgotado.visible {
    transform: scale(1); /* Quando a classe "visible" é adicionada, faz o zoom para 100% */
}

.invisible {
    display: none; /* Define a propriedade 'display' como 'none' para tornar o elemento invisível */
}

.option {
    display: block;
    width: 400px;
    padding: 10px;
    margin: 10px;
    background-color: #fff; /* Cor de fundo branca */
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
} 

.option:disabled {
    background-color: #ccc; /* Cor de fundo cinza para indicar desativado */
    opacity: 0.6; /* Diminui a opacidade */
    cursor: not-allowed; /* Altera o cursor para indicar que não pode ser clicado */
}

#result {
    font-weight: bold;
    margin: 10px 0;
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
  
#result.animate {
    animation: fade-in 1s ease forwards;
    font-size: 30px; /* Tamanho da fonte para a mensagem do quiz finalizado */
    font-family: "Arial", sans-serif; /* Tipo de letra (fonte) */
    /* Outros estilos para o elemento de resultado, como cor de fundo, tamanho da fonte, etc. */
}  

#next-button {
    background-color: #00A396;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px 0; /* Adicionando margem superior e inferior para centralizar o botão verticalmente */
    width: 300px;
}

#start-quiz-button {
    background-color: #00A396;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px 0; /* Adicionando margem superior e inferior para centralizar o botão verticalmente */
    width: 400px;
    font-size: 30px;
    margin-top: 200px; /*margem de cima */
}

#restart-button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px 0; /* Adicionando margem superior e inferior para centralizar o botão verticalmente */
    width: 300px;
}

/* Estilo para mensagem de resposta correta */
.resposta-correta {
    background-color: #5cb85c; /* Cor verde */
}

/* Estilo para mensagem de resposta incorreta */
.resposta-incorreta {
    background-color: #d9534f; /* Cor vermelha */
}

/* Estilos para telas menores, como tablets */
@media (max-width: 768px) {
    .quiz-container {
        max-width: 90%;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
    #quiz-image {
        width: 150px; /* Reduza o tamanho da imagem para se adequar a telas de tablet */
    }
    #question-container {
        width: 80%; /* Reduza a largura do container da pergunta */
    }
    #timer-container {
        top: 5px; /* Ajuste a distância do topo para economizar espaço */
        right: 5px; /* Ajuste a distância da direita para economizar espaço */
    }
    #timer {
        font-size: 14px; /* Reduza o tamanho da fonte para economizar espaço */
    }
    .option {
        width: 100%; /* Preencha a largura disponível para opções */
        padding: 8px 16px; /* Reduza o preenchimento para economizar espaço */
    }
    #next-button, #restart-button {
        width: 100%; /* Preencha a largura disponível para os botões */
        font-size: 16px; /* Tamanho da fonte ligeiramente maior para facilitar o toque */
        padding: 10px; /* Aumente o preenchimento para tornar os botões mais acessíveis em tablets */
    }
}

/* Estilos para telas ainda menores, como smartphones */
@media (max-width: 576px) {
    .quiz-container {
        max-width: 100%;
    }
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
    #quiz-image {
        width: 150px; /* Reduza o tamanho da imagem para se adequar a telas menores */
    }
    #question-container {
        width: 80%; /* Reduza a largura do container da pergunta */
    }
    #timer-container {
        top: 5px; /* Ajuste a distância do topo para economizar espaço */
        right: 5px; /* Ajuste a distância da direita para economizar espaço */
    }
    #timer {
        font-size: 14px; /* Reduza o tamanho da fonte para economizar espaço */
    }
    .option {
        width: 100%; /* Preencha a largura disponível para opções */
        padding: 8px 16px; /* Reduza o preenchimento para economizar espaço */
    }
    #next-button, #restart-button {
        width: 100%; /* Preencha a largura disponível para os botões */
        font-size: 16px; /* Tamanho da fonte ligeiramente maior para facilitar o toque */
        padding: 10px; /* Aumente o preenchimento para tornar os botões mais acessíveis em dispositivos móveis */
    }
}